<?xml version="1.0"?>
<model>
  <name>QR Code</name>
  <version>1.0</version>
  <sdf version="1.6">qr_code.sdf</sdf>

  <author>
    <name>Nathan Figueroa</name>
    <email>nathan.figueroa@whoi.edu</email>
  </author>

  <description>
    A simple QR code model for Orca4 seafloor detection.
  </description>
</model>